<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  </head>
  <body>
    <div>
      <!-- Title -->
      <h1>User at PORT:{{user}}</h1>

      <!-- Post request for connecting port 5000 and 5001 -->
      <form id="post_button_5001" action="/register_node" method="POST">
        <input
          type="submit"
          name="node"
          value="1. Connect to Port 5000(For Port 5001 used)"
        />
        <div id="message"></div>
        <div id="nodes"></div>
      </form>

      <hr />

      <!-- Post request for connecting port 5001 and 5002 -->
      <form id="post_button_5002" action="/register_node" method="POST">
        <input
          type="submit"
          name="node"
          value="2. Connect to Port 5001(For Port 5002 used)"
        />
        <div id="message2"></div>
        <div id="nodes2"></div>
      </form>

      <hr />

      <!-- Get request for showing the full chain of the client -->
      <form id="fullchain" action="/fullchain" method="GET">
        <h2>Show full chain</h2>
        <input type="submit" value="3. Fullchain" />
        <pre id="chain"></pre>
        <div id="length"></div>
      </form>

      <hr />

      <!-- Get request for mining a new block -->
      <form id="mine" action="/mine" method="GET">
        <h2>Mine</h2>
        <input type="submit" value="4. Mine" />
        <div id="hash"></div>
        <div id="index"></div>
        <div id="nonce"></div>
        <div id="previous_hash"></div>
        <div id="timestamp"></div>
        <div id="transactions_sender"></div>
        <div id="transactions_recipient"></div>
        <div id="transactions_value"></div>
      </form>

      <hr />

      <!-- Post request for adding a new transaction -->
      <h2>Transactions</h2>
      <form id="transaction" action="/new_transaction" method="POST">
        <label for="recipient">Recipient: </label>
        <input
          name="recipient"
          type="text"
          required
          placeholder="Please enter the recipient address"
        />

        <label for="value">Value: </label>
        <input
          name="value"
          type="text"
          required
          placeholder="Please enter the transaction value"
        />

        <button type="submit">Send</button>
        <div id="transaction_message"></div>
      </form>

      <hr />

      <!-- Get request for getting the wallet identity -->
      <form id="wallet" action="/get_wallet" method="GET">
        <h2>Wallet Identity</h2>
        <input type="submit" value="5. Get Wallet Identity" />
        <div id="identity"></div>
      </form>

      <hr />

      <!-- Post request to change the blockchain difficulty -->
      <h2>Change Difficulties</h2>
      <form id="difficulty" action="/change_difficuly" method="POST">
        <label>Please input your difficulty: </label>
        <input
          name="diff_value"
          type="text"
          required
          placeholder="Please enter the the difficulty"
        />
        <button type="submit">Send</button>
        <div id="difficulty_message"></div>
      </form>
    </div>

    <script>
      /* This is the Javascript for getting connect 5000 data */
      $("#post_button_5001").submit(function (event) {
        event.preventDefault();

        var $form = $(this),
          $submit = $form.find('button[type="submit"]'),
          name_value = $form.find('input[name="node"]').val(),
          url = $form.attr("action");

        var posting = $.post(url, {
          node: "127.0.0.1:5000",
        });
        let string = "";
        posting.done(function (data) {
          data.total_nodes.map((element) => {
            string = string + "<br/>" + element;
          });
          $("#message").html(data.message);
          $("#nodes").html(string);
        });
      });

      /* This is the Javascript for getting connect 5001 data */
      $("#post_button_5002").submit(function (event) {
        event.preventDefault();
        var $form = $(this),
          $submit = $form.find('button[type="submit"]'),
          name_value = $form.find('input[name="node"]').val(),
          url = $form.attr("action");

        var posting = $.post(url, {
          node: "127.0.0.1:5001",
        });
        let string = "";
        posting.done(function (data) {
          data.total_nodes.map((element) => {
            string = string + "<br/>" + element;
          });

          $("#message2").html(data.message);
          $("#nodes2").html(string);
        });
      });

      /*This is the Javascript for getting full chain data*/
      $("#fullchain").submit(function (event) {
        event.preventDefault();
        $.get("/fullchain", function (data, statusText, xhr) {
          if (xhr.status == 200) {
            let string = "";
            JSON.parse(data.chain).map((element) => {
              let string2 = [];
              let json = {
                index: JSON.parse(element).index,
                timestamp: JSON.parse(element).timestamp,
                previous_hash: JSON.parse(element).previous_hash,
                hash: JSON.parse(element).hash,
                nonce: JSON.parse(element).nonce,
                transactions: [],
              };

              JSON.parse(element).transactions.map((tran) => {
                transactions_json = {
                  recipient: JSON.parse(tran).recipient,
                  sender: JSON.parse(tran).sender,
                  signature: JSON.parse(tran).signature,
                  value: JSON.parse(tran).value,
                };

                string2.push(transactions_json);
              });

              json.transactions = string2;
              string =
                string + "<br/>" + "<br/>" + JSON.stringify(json, null, 2);
            });
            $("#chain").html(string + "<br/>");
            $("#length").html("Length of the chain: " + data.length);
          }
        });
      });

      /*This is the Javascript to get mine data*/
      $("#mine").submit(function (event) {
        event.preventDefault();
        $.get("/mine", function (data, statusText, xhr) {
          if (xhr.status == 200) {
            $("#hash").html("Hash: " + data.hash);
            $("#index").html("Index: " + data.index);
            $("#nonce").html("Nonce: " + data.nonce);
            $("#previous_hash").html("Previous hash: " + data.previous_hash);
            $("#timestamp").html("Timestamp: " + data.timestamp);
            $("#transactions_sender").html(
              "Transactions sender: " + JSON.parse(data.transactions[0]).sender
            );
            $("#transactions_recipient").html(
              "Transactions recipient: " +
                JSON.parse(data.transactions[0]).recipient
            );
            $("#transactions_value").html(
              "Transactions value: " + JSON.parse(data.transactions[0]).value
            );
          }
        });
      });

      /*This is the Javascript for transaction*/
      $("#transaction").submit(function (event) {
        event.preventDefault();
        var $form = $(this),
          $submit = $form.find('button[type="submit"]'),
          recipient_value = $form.find('input[name="recipient"]').val(),
          value = $form.find('input[name="value"]').val(),
          url = $form.attr("action");

        /* Send the data using post */
        var posting = $.post(url, {
          recipient_address: recipient_value,
          amount: value,
        });

        posting.done(function (data) {
          $("#transaction_message").html(data.message);
        });
      });

      /*This is the Javascript for change in difficulty*/
      $("#difficulty").submit(function (event) {
        event.preventDefault();
        var $form = $(this),
          $submit = $form.find('button[type="submit"]'),
          number = $form.find('input[name="diff_value"]').val(),
          url = $form.attr("action");

        /* Send the data using post */
        var posting = $.post(url, {
          number: number,
        });

        posting.done(function (data) {
          $("#difficulty_message").html(data);
        });
      });

      /*This is the Javascript to get wallet data*/
      $("#wallet").submit(function (event) {
        event.preventDefault();
        $.get("/get_wallet", function (data, statusText, xhr) {
          if (xhr.status == 200) {
            $("#identity").html(data);
          }
        });
      });
    </script>
  </body>
</html>
